<div class="container-fluid">
  <div class="row">
    {{!-- 左邊欄位 --}}
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/admin/dashboard">
              <i class="fas fa-home fa-2x mr-1"></i>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <a data-toggle="collapse" href="#tool-list" role="button" aria-expanded="false" aria-controls="tool-list"><i
              class="fas fa-chevron-down fa-1x mr-1"></i>
            <span>Tools</span>
          </a>
        </h6>
        <div class="collapse" id="tool-list">
          <ul class="nav flex-column ml-3">
            <li class=" nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-chart-line fa-2x mr-1"></i>
                銷售分析
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard/courses">
                <i class="fas fa-chalkboard-teacher fa-2x mr-1"></i>
                開課總覽
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard/students">
                <i class="fas fa-users fa-2x mr-1"></i>
                學習狀況分析
              </a>
            </li>
          </ul>
        </div>

        {{!-- 課程專區 --}}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <a data-toggle="collapse" href="#course-list" role="button" aria-expanded="false"
            aria-controls="course-list"><i class="fas fa-chevron-down fa-1x mr-1"></i>
            <span>課程審核及編輯</span>
          </a>
        </h6>
        <div class="collapse" id="course-list">
          <ul class="nav flex-column mb-2 ml-3">
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard/course-review-discuss">
                <i class="far fa-file-alt fa-2x mr-1"></i>
                課程審核討論區
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard/courses/review">
                <i class="far fa-file-alt fa-2x mr-1"></i>
                檢視課程
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard/courses/edit">
                <i class="far fa-file-alt fa-2x mr-1"></i>
                編輯課程
              </a>
            </li>
          </ul>
        </div>

        {{!-- 作業專區 --}}
        <h6 class="sidebar-heading d-flex justify-content-start align-items-center px-3 mt-4 mb-1 text-muted">
          <a href="#assign-list" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="course-list">
            <i class="fas fa-chevron-down fa-1x mr-1"></i>
            <span>作業</span>
          </a>
        </h6>
        <div class="collapse" id="assign-list">
          <ul class="nav flex-column mb-2 ml-3">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-user-edit ml-2 fa-2x mr-1"></i>
                瀏灠作業
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-user-edit ml-2 fa-2x mr-1"></i>
                批改作業 (4)
              </a>
            </li>
          </ul>
        </div>


        {{!-- 討論專區 --}}
        <h6 class="sidebar-heading d-flex justify-content-start align-items-center px-3 mt-4 mb-1 text-muted">
          <a href="#discuss-list" data-toggle="collapse" role="button" aria-expanded="false"
            aria-controls="course-list">
            <i class="fas fa-chevron-down fa-1x mr-1"></i>
            <span>討論</span>
          </a>
        </h6>
        <div class="collapse" id="discuss-list">
          <ul class="nav flex-column mb-2 ml-3">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-comments ml-2 fa-2x mr-1"></i>
                瀏灠所有討論
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-comments ml-2 fa-2x mr-1"></i>
                待回覆討論 (5)
              </a>
            </li>
          </ul>
        </div>

      </div>
    </nav>

    {{!-- 右邊欄位 --}}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h3">Tools > 課程審核討論區</h3>
      </div>




      {{!-- 課程審核討論區 --}}
      <div class="activity--list mb-5">
        <ul class="activity--items">
          <li>
            <h3 class="reply_title mb-2">Leave a Post</h3>
            <form class="comment__form" method="POST" action="/admin/dashboard/course-review-discuss/post">
              <div
                class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-2 border-bottom">
                <div class="orderby__wrapper">
                  <span>選擇課程</span>
                  <select class="shot__byselect mr-4" name="courseId">
                    {{#each coursesForSelectOption}}
                    <option value="{{this.id}}" selected>{{this.name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="subject">Subject</label>
                <input name="subject" class="form-control" id="subject"></input>
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea name="message" class="form-control" id="message" rows="3"></textarea>
              </div>
              <div class="input__wrapper">
              </div>
              <div class="submite__btn">
                <button class="btn btn-outline-primary">Leave a Post</button>
              </div>
            </form>
          </li>
        </ul>
      </div>
      <hr>

      <form action="/admin/dashboard/course-review-discuss" method="GET" class="mt-5 mb-3">
        <div
          class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <div class="orderby__wrapper">
            <span class="font-weight-bold">篩選課程</span>
            <select onchange="this.form.submit()" type="text" class="shot__byselect mr-4" name="courseId">
              <option value="" selected></option>
              <option value="all">所有課程</option>
              {{#each coursesForSelectOption}}
              <option value="{{this.id}}">{{this.name}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </form>

      {{#each courses}}
      <h5 class="mb-2">你正在瀏灠
        〈{{this.name}}〉 的審核討論
      </h5>
      <h6 class="mb-4">討論篇數：
        {{#if this.CourseReviewPosts}}
        {{this.CourseReviewPosts.length}}
        {{else}}
        目前沒有與這課程相關的審核討論
        {{/if}}
      </h6>

      <a role="button" class="btn btn-link mb-2" data-toggle="collapse" href="#courseReviewPosts-list{{@key}}"
        role="button" aria-expanded="false" aria-controls="courseReviewPosts-list"
        style="display: flex;flex-direction: row;justify-content: space-between;">Read more...
      </a>

      <div class="collapse mb-2" id="courseReviewPosts-list{{@key}}">
        <div class="activity--list mt-3">
          <!-- Activity Items Start -->

          <ul class="activity--items">
            {{#each this.CourseReviewPosts}}
            <li>
              <!-- Activity Item Start -->
              <div class="activity--item">
                <div class="activity--avatar">
                  <a href="#">
                    <img src="{{this.User.avatar}}" alt="">
                  </a>
                </div>

                <div class="activity--info fs--14">
                  <div class="activity--header">
                    <p><a href="member-activity-personal.html"><span class="fs-18 mr-2">{{this.User.username}}</span>
                      </a>
                      posted an update
                      in the course 〈
                      <span><a href="#">{{../this.name}}</a></span>〉
                    </p>
                  </div>

                  <div class="activity--meta fs--12">
                    <p><i class="fa mr--8 fa-clock-o"></i>{{moment this.updatedAt}}</p>
                  </div>

                  <div class="activity--content">
                    <h5>{{this.subject}}</h5>
                    <p>{{this.message}}</p>
                  </div>

                  <div class="activity--action fw--700">
                    {{!-- <a href="#">See More...</a> --}}
                  </div>

                  <div class="activity--comments fs--12">
                    <ul class="acomment--items">
                      {{#each this.CourseReviewReplies}}
                      <li class="d-block">
                        <div class="acomment--item clearfix">
                          <div class="acomment--avatar">
                            <a href="#">
                              <img src="{{this.User.avatar}}" alt="">
                            </a>
                          </div>

                          <div class="acomment--info">
                            <div class="acomment--header">
                              <p><a href="#">{{this.User.username}}</a> Replied</p>
                            </div>

                            <div class="acomment--meta">
                              <p><i class="fa mr--8 fa-clock-o"></i>{{moment this.updatedAt}}</p>
                            </div>

                            <div class="acomment--content">
                              <p>{{this.message}}</p>
                            </div>
                          </div>
                        </div>
                      </li>
                      {{/each}}
                      <li>
                        {{!-- Reply --}}
                        <div class="acomment--item clearfix">
                          <div class="acomment--avatar">
                            <a href="#">
                              <img src="{{this.User.avatar}}" alt="">
                            </a>
                          </div>
                          <div class="acomment--info">
                            <div class="comment_respond">
                              <form class="comment__form"
                                action="/admin/dashboard/course-review-discuss/reply?courseReviewPostId={{this.id}}&courseId={{../this.id}}"
                                method="POST">
                                <div class="form-group">
                                  {{!-- <label for="message">
                                    <h4>Reply :</h4>
                                  </label> --}}
                                  <textarea name="message" class="form-control" id="message" rows="3"></textarea>
                                </div>
                                <div class="input__wrapper">

                                </div>
                                <div class="submite__btn">
                                  <button type="submit" class="btn btn-outline-primary">Reply</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
              <!-- Activity Item End -->
            </li>
            {{/each}}
          </ul>
          <!-- Activity Items End -->
        </div>
      </div>
      <hr class="my-3">
      {{/each}}

      <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="2238" height="944"
        style="display: block; height: 60px; width: 1119px;">
      </canvas>

      <div class="my-4">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="/admin/dashboard/course-review-discuss?page={{prev}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {{#each totalPage}}
            {{#ifCond this ../page}}
            <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
            {{else}}
            <li class="page-item"><a class="page-link"
                href="/admin/dashboard/course-review-discuss?page={{this}}">{{this}}</a></li>
            {{/ifCond}}
            {{/each}}
            <a class="page-link" href="/admin/dashboard/course-review-discuss?page={{next}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
          </ul>
        </nav>
      </div>

    </main>
  </div>
</div>