<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Gami Course</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/images/gamico.ico" type="image/x-icon" />
  <!-- Google font font-family: 'Roboto', sans-serif; Poppins ; Satisfy -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/plugins.css">
  <link rel="stylesheet" href="/style.css">

  <!-- Custom css -->
  <link rel="stylesheet" href="/css/custom.css">

  {{!-- Instructor Dashboard css --}}
  <link rel="stylesheet" href="/css/dashboard.css">

  {{!-- createCourse css --}}
  <link rel="stylesheet" href="/css/createCourse.css">
  <link rel="stylesheet" href="/css/button.css">

  <!-- Modernizer js -->
  <script src="/js/vendor/modernizr-3.5.0.min.js"></script>

  {{!-- Font-awesome --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.css">

  {{!-- jQuery CSS --}}
  {{!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> --}}

  <!-- Include your favorite highlight.js stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/monokai-sublime.min.css"
    rel="stylesheet">

  {{!-- quill rich text editor --}}
  <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
</head>

<body>
  <!-- Main wrapper -->
  <div class="wrapper" id="wrapper">
    <!-- Header -->
    <header id="wn__header" class="oth-page header__area header__absolute sticky__header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-7 col-lg-2">
            <div class="logo">
              <a href="/">
                <div class="logo-txt py-0 my-0 border-0">
                  <img src="/images/GamiCo-logo.png" class="my-0" alt="">
                  {{!-- <h2 class="logo-txt-top">Online</h2>
                  <h2 class="logo-txt-bottom">Course</h2> --}}
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-8 d-none d-lg-block">
            <nav class="mainmenu__nav d-flex justify-content-between">
              <ul class="meninmenu d-flex justify-content-start">
                <li class="drop"><a href="#"><i class="fa fa-th"></i>Category</a>
                  <div class="megamenu dropdown">
                    <ul class="item item01">
                      <li class="label2"><a href="/courses/程式">程式</a>
                        <ul>
                          <li><a href="/courses/程式/區塊鏈">區塊鏈</a></li>
                          <li><a href="/courses/程式/程式入門">程式入門</a></li>
                          <li><a href="/courses/程式/網站架設">網站架設</a></li>
                          <li><a href="/courses/程式/網頁前端">網頁前端</a></li>
                          <li><a href="/courses/程式/網頁後端">網頁後端</a></li>
                          <li><a href="/courses/程式/手機程式開發">手機程式開發</a></li>
                          <li><a href="/courses/程式/程式語言">程式語言</a></li>
                        </ul>
                      </li>
                      <li class="label2"><a href="/courses/職場技能">職場技能</a>
                        <ul>
                          <li><a href="/courses/職場技能/效率提升">效率提升</a></li>
                          <li><a href="/courses/職場技能/求職">求職</a></li>
                          <li><a href="/courses/職場技能/創業">創業</a></li>
                          <li><a href="/courses/職場技能/職場溝通">職場溝通</a></li>
                          <li><a href="/courses/職場技能/文書處理">文書處理</a></li>
                        </ul>
                      </li>
                      <li class="label2"><a href="/courses/設計">設計</a>
                        <ul>
                          <li><a href="/courses/設計/動態設計">動態設計</a></li>
                          <li><a href="/courses/設計/平面設計">平面設計</a></li>
                          <li><a href="/courses/設計/應用設計">應用設計</a></li>
                          <li><a href="/courses/設計/網頁設計">網頁設計</a></li>
                          <li><a href="/courses/設計/外包設計">外包設計</a></li>
                        </ul>
                      </li>
                      <li class="label2"><a href="/courses/投資理財">投資理財</a>
                        <ul>
                          <li><a href="/courses/投資理財/理財">理財</a></li>
                          <li><a href="/courses/投資理財/投資觀念">投資觀念</a></li>
                          <li><a href="/courses/投資理財/金融商品">金融商品</a></li>
                          <li><a href="/courses/投資理財/量化分析">量化分析</a></li>
                        </ul>
                      </li>
                      <li class="label2"><a href="/courses/生活品味">生活品味</a>
                        <ul>
                          <li><a href="/courses/生活品味/運動">運動</a></li>
                          <li><a href="/courses/生活品味/寵物">寵物</a></li>
                          <li><a href="/courses/生活品味/烹飪">烹飪</a></li>
                          <li><a href="/courses/生活品味/數學">數學</a></li>
                          <li><a href="/courses/生活品味/教育">教育</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
              <div class="create-course-link mr-5" style="font-family:Microsoft JhengHei;">
                <a href="/instructor/dashboard" class="btn-two yellow rounded mini"><span class="text-black"><i
                      class="fas fa-chalkboard-teacher fa-1x mr-1"></i>我要開課</span></a>
              </div>
              <div class="search-bar mr-5" style="position:relative;left:-40px;">
                <form class="form-inline" action="/courses/search" action="GET" style="flex-flow: row nowrap">
                  <input class="form-control search_input mr-2" type="text" name="keyword" placeholder="搜尋課程：CS50.."
                    value="{{keyword}}">
                  <a href="javascript:;" onclick="parentNode.submit();" class="search_icon">
                    <span class="fa-2x">
                      <i class="fas fa-search fa-xs" style="position: relative;top:3px;"></i>
                    </span>
                  </a>
                </form>
              </div>
            </nav>
          </div>
          <div class="col-md-8 col-sm-8 col-5 col-lg-2">
            <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
              <div class="wishlist mr-1" id="wishlist">
                <a href="/users/favoriteCourses" class="wishlist">
                  <span class="p1 fa-stack fa-2x has-badge">
                    <i class="fas fa-heart fa-xs"></i>
                  </span>
                </a>
              </div>

              <div id="shopcart" class="mr-1">
                <a href="/cart" class="shopcart">
                  <span class="p1 fa-2x fa-stack" data-count="{{cartItemCount}}">
                    <i class="fa fa-shopping-cart fa-sm"></i>
                  </span>
                </a>
              </div>

              <li class="setting__bar__icon mr-0"><a class="setting__active" href="#">
                  <span class="fa-2x fa-stack">
                    <i class="fas fa-user fa-xs"></i>
                  </span>
                </a>
                <div class="searchbar__content setting__block">
                  <div class="content-inner">
                    <div class="switcher-currency">
                      <div class="switcher-options">
                        <div class="switcher-currency-trigger">
                          <div class="setting__menu">
                            <span><a href="/users/account">個人資訊</a></span>
                            <span><a href="/users/boughtCourses">已購買課程</a></span>
                            <span><a href="/instructor/dashboard">開課管理</a></span>
                            <span><a href="/users/favoriteCourses">我的願望清單</a></span>
                            <span><a href="/orders">訂單記錄</a></span>
                            {{#if user}}
                            <span><a href="/logout" id="logout">登出</a></span>
                            {{else}}
                            <span><a href="/signin">登入</a></span>
                            {{/if}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- Start Mobile Menu -->
        <div class="row d-none">
          <div class="col-lg-12 d-none">
            <nav class="mobilemenu__nav">
              <ul class="meninmenu">
                <li class="label2"><a href="/courses/程式">程式</a>
                  <ul>
                    <li><a href="/courses/程式/區塊鏈">區塊鏈</a></li>
                    <li><a href="/courses/程式/程式入門">程式入門</a></li>
                    <li><a href="/courses/程式/網站架設">網站架設</a></li>
                    <li><a href="/courses/程式/網頁前端">網頁前端</a></li>
                    <li><a href="/courses/程式/網頁後端">網頁後端</a></li>
                    <li><a href="/courses/程式/手機程式開發">手機程式開發</a></li>
                    <li><a href="/courses/程式/程式語言">程式語言</a></li>
                  </ul>
                </li>
                <li class="label2"><a href="/courses/職場技能">職場技能</a>
                  <ul>
                    <li><a href="/courses/職場技能/效率提升">效率提升</a></li>
                    <li><a href="/courses/職場技能/求職">求職</a></li>
                    <li><a href="/courses/職場技能/創業">創業</a></li>
                    <li><a href="/courses/職場技能/職場溝通">職場溝通</a></li>
                    <li><a href="/courses/職場技能/文書處理">文書處理</a></li>
                  </ul>
                </li>
                <li class="label2"><a href="/courses/設計">設計</a>
                  <ul>
                    <li><a href="/courses/設計/動態設計">動態設計</a></li>
                    <li><a href="/courses/設計/平面設計">平面設計</a></li>
                    <li><a href="/courses/設計/應用設計">應用設計</a></li>
                    <li><a href="/courses/設計/網頁設計">網頁設計</a></li>
                    <li><a href="/courses/設計/外包設計">外包設計</a></li>
                  </ul>
                </li>
                <li class="label2"><a href="/courses/投資理財">投資理財</a>
                  <ul>
                    <li><a href="/courses/投資理財/理財">理財</a></li>
                    <li><a href="/courses/投資理財/投資觀念">投資觀念</a></li>
                    <li><a href="/courses/投資理財/金融商品">金融商品</a></li>
                    <li><a href="/courses/投資理財/量化分析">量化分析</a></li>
                  </ul>
                </li>
                <li class="label2"><a href="/courses/生活品味">生活品味</a>
                  <ul>
                    <li><a href="/courses/生活品味/運動">運動</a></li>
                    <li><a href="/courses/生活品味/寵物">寵物</a></li>
                    <li><a href="/courses/生活品味/烹飪">烹飪</a></li>
                    <li><a href="/courses/生活品味/數學">數學</a></li>
                    <li><a href="/courses/生活品味/教育">教育</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- End Mobile Menu -->
        <div class="mobile-menu d-block d-lg-none">
        </div>
        <!-- Mobile Menu -->
      </div>
    </header>
    <!-- //Header -->

    <div class="container alert-message">
      {{#if success_messages}}
      <div class="alert alert-success" role="alert">
        {{success_messages}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{/if}}
      {{#if error_messages}}
      <div class="alert alert-danger" role="alert">
        {{error_messages}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{/if}}
    </div>

    {{{body}}}

    {{!-- footer --}}
    <div class="container1">
      <footer class="footer-bs" style="color: #393a3a;">
        <div class="row">
          <div class="col-md-3 footer-brand animated fadeInLeft">
            <div class="logo">
              <a href="/">
                <div class="logo-txt py-0 my-0 border-0">
                  <img src="/images/GamiCo-logo.png" class="my-0" alt="">
                </div>
              </a>
            </div>
            <p></p>
            <p>© 2020 GamiCo, All rights reserved</p>
          </div>
          <div class="col-md-4 footer-nav animated fadeInUp">
            <h4>Menu —</h4>
            <div class="col-md-6">
              {{!-- <ul class="pages">
                <li><a href="/users/account">帳號資訊</a></span></li>
                <li><span><a href="/users/boughtCourses">我買的課</a></li>
                <li><span><a href="/instructor/dashboard">我開的課</a></span></li>
                <li><span><a href="/users/favoriteCourses">我的願望清單</a></span></li>
              </ul> --}}
            </div>
            <div class="col-md-6">
              <ul class="list">
                <li><a href="#">About Us</a></li>
                <li><a href="mailto:s19003045@gmail.com">Contacts</a></li>

              </ul>
            </div>
          </div>
          <div class="col-md-2 footer-social animated fadeInDown">
            <h4>Follow Us</h4>
            <ul>
              <li><a href="https://github.com/s19003045/online-course" target="_blank">Github</a></li>
              {{!-- <li><a href="#">Twitter</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">RSS</a></li> --}}
            </ul>
          </div>
          <div class="col-md-3 footer-ns animated fadeInRight">
            <h4>Subscribe to Newsletter</h4>
            <p></p>
            <p>
              <form action="/subscribe/newsletter" method="POST">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Email" name="email">
                  <span class="input-group-btn ">
                    <button class="btn btn-primary" type="submit"><span
                        class="glyphicon glyphicon-envelope text-white">I
                        want
                      </span></button>
                  </span>
                </div><!-- /input-group -->
              </form>
            </p>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <!-- JS Files -->
  {{!-- <script src="https://player.vimeo.com/api/player.js"></script> --}}
  <script src="/js/vendor/jquery-3.2.1.min.js"></script>
  {{!-- jquery for UI --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/active.js"></script>

  {{!-- include axios --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
  {{!-- include highlight.js for Quill code syntax --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
  {{!-- rich text editor --}}
  <!-- Include the Quill library -->
  <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
  <script src="/js/richTextEditor.js"></script>
  <script src="/js/submit_checkbox.js"></script>
  <script src="/js/courses.js"></script>
</body>


</html>