<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3 class="h3">我購買的課程</h3>
  </div>

  <form action="#" method="GET" class="mt-5">
    <div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <div class="orderby__wrapper">
        <span>選課程主類別</span>
        <select class="shot__byselect mr-4" name="mainCategoName">
          <option value="" {{#ifCond mainCategoName ''}}selected{{/ifCond}}>全部</option>
        </select>
      </div>
      <div class="orderby__wrapper">
        <span>選課程次類別</span>
        <select class="shot__byselect mr-4" name="subCategoName">
          <option value="" {{#ifCond subCategoName ''}}selected{{/ifCond}}>全部</option>
        </select>
      </div>
      <div class="orderby__wrapper">
        <span>Order By</span>
        <select class="shot__byselect mr-4" name="order">
          <option value="status" {{#ifCond order ''}}selected{{/ifCond}}>無</option>
          <option value="status" {{#ifCond order 'completeRate'}}selected{{/ifCond}}>課程完成率</option>
        </select>
      </div>
    </div>
  </form>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">項次</th>
        <th scope="col">課程名稱</th>
        <th scope="col" class="text-center">已完成單元</th>
        <th scope="col" class="text-center">總單元</th>
        <th scope="col" class="text-center">完成率</th>
        <th scope="col" class="text-center">價錢</th>
        <th scope="col" class="text-center">購買日期</th>
        <th scope="col" class="text-center">評價</th>
      </tr>
    </thead>
    <tbody>
      {{#each userenrollments}}
      <tr>
        <th scope="row" class="text-center">{{@key}}</th>
        <td><a href="/courses/{{this.Course.id}}/lessons">{{this.Course.name}}</a></td>
        <td class="text-center">{{this.finishLessonCount}}</td>
        <td class="text-center">{{this.Course.totalLessons}}</td>
        <td class="text-center">{{this.completeRate}}%</td>
        <td class="text-center">$ {{this.Course.price}}</td>
        <td class="text-center">{{moment this.timeStart}}</td>
        <td class="text-center">{{this.Course.ratingAverage}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>