<div class="maincontent bg--white pt--80 pb--55">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 col-12">

        <h1 class="course-name">{{course.name}}</h1>

        <div class="product__info__detailed">
          <div class="pro_details_nav nav justify-content-start" role="tablist">
            <a class="nav-item nav-link active" href="/courses/{{course.id}}/introduction">課程介紹</a>
            <a class="nav-item nav-link" href="/courses/{{course.id}}/lessons">課程內容</a>
            <a class="nav-item nav-link" href="/courses/{{course.id}}/post">問題與討論</a>
          </div>
        </div>

        <div class="wn__single__product">
          <div class="row">
            <div class="col-lg-8 col-12">
              <div id="ytplayer_frame">
                <div class="course-vedio">
                  <iframe id="ytplayer" type="text/html" width="640" height="360" src="{{course.introVideo}}"
                    frameborder="0"></iframe>
                </div>
              </div>
            </div>


            <div class="col-lg-4 col-12">
              <div class="product__info__main">
                <h1>{{course.name}}</h1>

                <div class="product__overview">
                  <p><i class="fas fa-star mr-2"></i>評分 {{course.ratingAverage}}</p>
                  <p><i class="far fa-comment-dots mr-2"></i>{{course.ratingCount}} 則評論</p>
                  <p><i class="fas fa-users mr-1"></i>{{course.studentCount}} 位學生已註冊</p>
                  <p><i class="far fa-clock mr-2"></i>課程時數 {{minute_to_hour course.totalTime}}</p>
                  <p class="mr-2">授課老師 <strong>{{course.User.username}}</strong></p>
                </div>

                <h2 class="course-prize">NT$ {{course.price}}</h2>

                <div class="box-tocart d-flex">
                  <div class="addtocart__actions">
                    <form action="/favorite/{{course.id}}" method="POST"><button type="submit"
                        class="tocart">加入願望清單</button></form>
                  </div>

                  <div class="addtocart__actions">
                    <form action="/order/{{course.id}}" method="POST"><button type="submit" class="tocart">立即購買</button>
                    </form>
                  </div>
                </div>

                <div class="product-share">
                  <ul>
                    <li class="categories-title">Share :</li>
                    <li>
                      <a href="#">
                        <i class="icon-social-twitter icons"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-social-tumblr icons"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-social-facebook icons"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-social-linkedin icons"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="product__info__detailed">
          <div class="pro_details_nav nav justify-content-start" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-details" role="tab">簡 介</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-review" role="tab">評 論</a>
          </div>
          <div class="tab__container">
            <!-- Start Single Tab Content -->
            <div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
              <div class="description__attribute">
                <p>{{course.description}}</p>
              </div>
            </div>
            <!-- End Single Tab Content -->

            <!-- Start Single Tab Content -->
            <div class="pro__tab_label tab-pane fade" id="nav-review" role="tabpanel">
              <div class="review-fieldset">
                <h2 style="margin-bottom: 30px;">你的評論：</h2>
                <div class="review-field-ratings">
                  <div class="product-review-table">
                    <div class="review-field-rating d-flex">
                      <span>評分</span>
                      <ul class="rating d-flex align-items-center">
                        <li class="off"><i class="zmdi zmdi-star"></i></li>
                        <li class="off"><i class="zmdi zmdi-star"></i></li>
                        <li class="off"><i class="zmdi zmdi-star"></i></li>
                        <li class="off"><i class="zmdi zmdi-star"></i></li>
                        <li class="off"><i class="zmdi zmdi-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="review_form_field">
                  <div class="input__box">
                    <span>暱稱</span>
                    <input id="nickname_field" type="text" name="nickname">
                  </div>
                  <div class="input__box">
                    <span>摘要</span>
                    <input id="summery_field" type="text" name="summery">
                  </div>
                  <div class="input__box">
                    <span>內容</span>
                    <textarea name="review"></textarea>
                  </div>
                  <div class="review-form-actions">
                    <button>送出評論</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Single Tab Content -->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>