{{!-- 橫幅看板 --}}
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/每日登入送點數.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        {{#if user}}
        <h5 class="mb-2">
          <a href="/users/account" class="mr-5 text-muted">查詢我的點數 <i class="far fa-hand-point-right"></i></a>
        </h5>
        <h5>
          <a href="/reward/{{user.id}}/lottery" class="mr-5 text-muted">轉蛋去 <i class="far fa-hand-point-right"></i></a>
        </h5>
        {{else}}
        <h5 class="mb-2">
          <a href="/signup" class="mr-5 text-muted">立即註冊 <i class="far fa-hand-point-right"></i></a>
        </h5>
        <h5>
          <a href="/signin" class="mr-5 text-muted">立即登入 <i class="far fa-hand-point-right"></i></a>
        </h5>
        {{/if}}
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <a href="/courses/1/introduction"><img src="https://i.imgur.com/zEQmtOj.jpg" class="d-block w-100" alt="CS50"></a>
      <div class="carousel-caption d-none d-md-block">
        <h5>CS50 Harvard University</h5>
        <p>An introduction to the intellectual enterprises of computer science and the art of programming.</p>
      </div>
    </div>
    <div class="carousel-item">
      <a href="/courses/3/introduction"><img src="https://i.imgur.com/sPpRG7n.jpg" class="d-block w-100"
          alt="數位語音處理"></a>
      <div class="carousel-caption d-none d-md-block">
        <h5>數位語音處理概論</h5>
        <p>藉由機器學習來處理語音訊號，21世紀創新技術的原理</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Start Shop Page -->
<div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12 order-1 order-lg-2">
        <div class="row">
          <div class="col-lg-12">
            <div class="ml-0">
              {{#ifCond route 'all'}}
              <p>全部課程</p>
              {{/ifCond}}
              {{#ifCond route 'mainCate'}}
              <a href="/courses/{{mainCategoName}}">
                <p>{{mainCategoName}}</p>
              </a>
              {{/ifCond}}
              {{#ifCond route 'subCate'}}
              <div class="d-flex flex-row bd-highlight mb-3">
                <a href="/courses/{{mainCategoName}}">
                  <p>{{mainCategoName}}</p>
                </a>
                <p class="mx-2">></p>
                <a href="/courses/{{mainCategoName}}/{{subCategoName}}">
                  <p>{{subCategoName}}</p>
                </a>
              </div>
              {{/ifCond}}
            </div>
            <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
              <div class="shop__list nav justify-content-center" role="tablist">
              </div>
              {{#ifCond route 'all'}}
              <form action="/courses" method="GET" class="mt-5">
                <div class="orderby__wrapper">
                  <span>Sort By</span>
                  <select onchange="this.form.submit()" type="text" class="shot__byselect" name="order">
                    <option value="" {{#ifCond order ''}}selected{{/ifCond}}>選擇排序方式</option>
                    <option value="評價由高到低" {{#ifCond order '評價由高到低'}}selected{{/ifCond}}>評價由高到低</option>
                    <option value="評價人數由多到少" {{#ifCond order '評價人數由多到少'}}selected{{/ifCond}}>評價人數由多到少</option>
                    <option value="課程時數由多到少" {{#ifCond order '課程時數由多到少'}}selected{{/ifCond}}>課程時數由多到少</option>
                    <option value="課程時數由少到多" {{#ifCond order '課程時數由少到多'}}selected{{/ifCond}}>課程時數由少到多</option>
                    <option value="價格由高到低" {{#ifCond order '價格由高到低'}}selected{{/ifCond}}>價格由高到低</option>
                    <option value="價格由低到高" {{#ifCond order '價格由低到高'}}selected{{/ifCond}}>價格由低到高</option>
                  </select>
                </div>
                {{/ifCond}}
                {{#ifCond route 'mainCate'}}
                <form action="/courses/{{mainCategoName}}" method="GET" class="mt-5">
                  <div class="orderby__wrapper">
                    <span>Sort By</span>
                    <select onchange="this.form.submit()" type="text" class="shot__byselect" name="order">
                      <option value="" {{#ifCond order ''}}selected{{/ifCond}}>選擇排序方式</option>
                      <option value="評價由高到低" {{#ifCond order '評價由高到低'}}selected{{/ifCond}}>評價由高到低</option>
                      <option value="評價人數由多到少" {{#ifCond order '評價人數由多到少'}}selected{{/ifCond}}>評價人數由多到少</option>
                      <option value="課程時數由多到少" {{#ifCond order '課程時數由多到少'}}selected{{/ifCond}}>課程時數由多到少</option>
                      <option value="課程時數由少到多" {{#ifCond order '課程時數由少到多'}}selected{{/ifCond}}>課程時數由少到多</option>
                      <option value="價格由高到低" {{#ifCond order '價格由高到低'}}selected{{/ifCond}}>價格由高到低</option>
                      <option value="價格由低到高" {{#ifCond order '價格由低到高'}}selected{{/ifCond}}>價格由低到高</option>
                    </select>
                  </div>
                  {{/ifCond}}
                  {{#ifCond route 'subCate'}}
                  <form action="/courses/{{mainCategoName}}/{{subCategoName}}" method="GET" class="mt-5">
                    <div class="orderby__wrapper">
                      <span>Sort By</span>
                      <select onchange="this.form.submit()" type="text" class="shot__byselect" name="order">
                        <option value="" {{#ifCond order ''}}selected{{/ifCond}}>選擇排序方式</option>
                        <option value="評價由高到低" {{#ifCond order '評價由高到低'}}selected{{/ifCond}}>評價由高到低</option>
                        <option value="評價人數由多到少" {{#ifCond order '評價人數由多到少'}}selected{{/ifCond}}>評價人數由多到少</option>
                        <option value="課程時數由多到少" {{#ifCond order '課程時數由多到少'}}selected{{/ifCond}}>課程時數由多到少</option>
                        <option value="課程時數由少到多" {{#ifCond order '課程時數由少到多'}}selected{{/ifCond}}>課程時數由少到多</option>
                        <option value="價格由高到低" {{#ifCond order '價格由高到低'}}selected{{/ifCond}}>價格由高到低</option>
                        <option value="價格由低到高" {{#ifCond order '價格由低到高'}}selected{{/ifCond}}>價格由低到高</option>
                      </select>
                    </div>
                    {{/ifCond}}
                    {{#ifCond route 'search'}}
                    {{/ifCond}}
                  </form>
            </div>
          </div>
        </div>
        <div class="tab__container">
          <div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
            <div class="row">
              {{#each courses}}
              <!-- Start Single Product -->
              <div class="product product__style--3 col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="product__thumb">
                  {{#if this.enrolled}}
                  <a href="/courses/{{this.id}}/lessons"><img src="{{this.image}}" alt="course image"
                      class="img-fluid"></a>
                  {{else}}
                  <a href="/courses/{{this.id}}/introduction"><img src="{{this.image}}" alt="course image"
                      class="img-fluid"></a>
                  {{/if}}
                  <div class="favorite-btn">
                    <form action="/favorite/{{this.id}}" method="POST"><button type="submit" class="buy-now"><i
                          class="fas fa-heart"></i></button></form>
                  </div>
                </div>

                <div class="course-content">
                  <h4 class="course-name">{{this.name}}</h4>
                  <div class="info">
                    <div class="d-flex flex-column bd-highlight mb-3">
                      <div class="ratings mb-3">
                        <div class="empty_star">★★★★★ <span class="course-ratingCount">
                            {{#if this.ratingCount}}
                            ({{this.ratingCount}})
                            {{else}}
                            (0)
                            {{/if}}
                          </span></div>
                        {{#ifCond this.ratingAverage 5}}
                        <div class="full_star">★★★★★</div>
                        {{/ifCond}}
                        {{#ifCond this.ratingAverage 4}}
                        <div class="full_star">★★★★</div>
                        {{/ifCond}}
                        {{#ifCond this.ratingAverage 3}}
                        <div class="full_star">★★★</div>
                        {{/ifCond}}
                        {{#ifCond this.ratingAverage 2}}
                        <div class="full_star">★★</div>
                        {{/ifCond}}
                        {{#ifCond this.ratingAverage 1}}
                        <div class="full_star">★</div>
                        {{/ifCond}}
                      </div>
                      <p class="mb-3" style="font-size: 15px; font-weight: bold;"><i class="far fa-clock"></i>
                        課程時數：{{minute_to_hour this.totalTime}}
                      </p>
                      <p style="font-size: 20px; font-weight: bold;">NT$ {{this.price}}</p>
                    </div>
                  </div>
                </div>

                <div class="couse-btns">
                  {{#if this.enrolled}}
                  <div class="couse-btn mx-auto study-couse">
                    <a href="/courses/{{this.id}}/lessons"><i class="fas fa-magic"></i> 繼續學習</a>
                  </div>

                  {{else}}
                  <div class="couse-btn cart">
                    <div class="cart-btn">
                      <form action="/cart" method="POST">
                        <input type="hidden" name="courseId" value="{{this.id}}">
                        <button type="submit"><i class="fas fa-shopping-cart"></i> 加入購物車</button>
                      </form>
                    </div>
                  </div>
                  <div class="couse-btn see-more">
                    <a href="/courses/{{this.id}}/introduction"><i class="fas fa-search"></i>
                      課程介紹</a>
                  </div>

                  {{/if}}
                </div>
              </div>

              <!-- End Single Product -->
              {{/each}}

            </div>
            {{!-- <ul class="wn__pagination">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
          </ul> --}}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Shop Page -->