<div class="container">
  <div class="row">
    <div class="col-12 my-5">
      <h3 class="h3">我收藏的課程</h3>
    </div>

    {{#each favorites}}
    <!-- Start Single Product -->
    <div class="product product__style--3 col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="product__thumb">
        <img src="https://fakeimg.pl/270x340/" alt="product image">
        <div class="favorite-btn">
          <form action="/favorite/{{this.Course.id}}" method="POST"><button type="submit" class="buy-now"><i
                class="fas fa-heart-broken"></i></button></form>
        </div>
      </div>
      <div class="course-content">
        <h4 class="course-name">{{this.Course.name}}</h4>
        <div class="info">
          <div class="d-flex flex-column bd-highlight mb-3">
            <div class="ratings mb-3">
              <div class="empty_star">★★★★★</div>
              <div class="full_star" style="width: {{star_to_percent this.Course.ratingAverage}}%;">★★★★★
              </div>
            </div>
            <p class="mb-3" style="font-size: 16px; font-weight: bold;"><i class="far fa-clock"></i>
              課程時數：{{minute_to_hour this.Course.totalTime}}
            </p>
            <p style="font-size: 20px; font-weight: bold; color: #D56A16 ;">NT$ {{this.Course.price}}</p>
          </div>
        </div>
      </div>

      <div class="couse-btns">
        <div class="couse-btn buy">
          {{#if this.enrolled}}
          <div class='btn'>
            已購買
          </div>
          {{else}}
          <form action="/order/{{this.Course.id}}" method="POST"><button type="submit"><i
                class="fas fa-shopping-cart"></i>
              購買</button></form>
          </form>
          {{/if}}
        </div>
        <div class="couse-btn see-more">
          {{#if this.enrolled}}
          <a href="/courses/{{this.Course.id}}/lessons"><i class="fas fa-magic"></i>
            繼續上課</a>
          {{else}}
          <a href="/courses/{{this.Course.id}}/introduction"><i class="fas fa-search"></i>
            課程介紹</a>
          {{/if}}
        </div>
      </div>

    </div>
    <!-- End Single Product -->
    {{/each}}

  </div>

  <ul class="wn__pagination mt-5">
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
  </ul>
</div>