<div class="page-blog-details pt--80 pb--55 bg--white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">

        <h1 class="course-name">{{courseName}}</h1>

        <div class="product__info__detailed">
          <div class="pro_details_nav nav justify-content-start" role="tablist">
            <a class="nav-item nav-link" href="/courses/{{courseId}}/introduction">課程介紹</a>
            <a class="nav-item nav-link" href="/courses/{{courseId}}/lessons">課程內容</a>
            <a class="nav-item nav-link active" href="/courses/{{courseId}}/post">問題與討論</a>
          </div>
        </div>


        <div class="blog-details content">
          <div class="comment_respond">
            <h3 class="reply_title">新增提問</h3>

            <div class="post-question">
              <form class="comment__form" action="/courses/{{courseId}}/post" method="POST" style="display: contents;">

                <div class="input__box">
                  <input type="text" placeholder="Title" name="subject">
                </div>

                <div class="input__box">
                  <textarea placeholder="Your question here" name="message"></textarea>
                </div>

                <div class="submite__btn">
                  <button type="submit">送出</button>
                </div>

              </form>
            </div>
          </div>

          <div class="comments_area">
            <h3 class="comment__title">Question ({{postsLength}}) </h3>

            <div id="accordion" class="wn_accordion" role="tablist">

              {{!-- 提問問題 Start --}}
              {{#each posts}}
              <div class="post-question">
                <div class="post-user-pic">
                  <a href="#">
                    <img src="{{this.User.avatar}}" alt="">
                  </a>
                </div>
                <div class="card">
                  {{!-- 問題內容 Start --}}
                  <div class="acc-header" role="tab" id="post-heading">
                    <div class="title">
                      <div class="post-user-txt">
                        <h5>
                          <a class="collapsed" data-toggle="collapse" href="#collapse-list{{@key}}" role="button"
                            aria-expanded="false" aria-controls="collapse-list">
                            {{this.subject}}</a>
                        </h5>
                        <span>{{this.User.username}} at {{moment this.createdAt}}</span>
                      </div>
                    </div>

                    <div class="card-body">{{this.message}}
                    </div>
                  </div>
                  {{!-- 問題內容 End --}}


                  <div id="collapse-list{{@key}}" class="collapse">
                    {{#each this.DiscussReplies}}
                    {{!-- 該問題的Reply Start --}}
                    <div class="reply">
                      <div class="reply-user">{{this.User.username}} at {{moment this.createdAt}}</div>
                      <div class="reply-centent card-body">
                        {{this.message}}
                      </div>
                    </div>
                    {{!-- 該問題的Reply End --}}
                    {{/each}}

                    {{!-- 留言給該問題 Start --}}
                    <div class="reply-input">
                      <form action="/courses/{{../courseId}}/post/{{this.id}}/reply" method="POST">
                        <textarea name="message" placeholder="Your reply here"></textarea>
                        <button type="submit" style=" white-space:nowrap">回覆</button>
                      </form>
                    </div>
                    {{!-- 留言給該問題 End --}}
                  </div>
                </div>
              </div>
              {{/each}}
              {{!-- 提問問題 End --}}

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>