<div class="page-blog-details pt--80 pb--55 bg--white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">

        <h1 class="course-name">{{courseName}}</h1>

        <div class="product__info__detailed">
          <div class="pro_details_nav nav justify-content-start" role="tablist">
            <a class="nav-item nav-link" href="/courses/{{courseId}}/introduction">課程介紹</a>
            <a class="nav-item nav-link" href="/courses/{{courseId}}/lessons">課程內容</a>
            <a class="nav-item nav-link active" href="/courses/{{courseId}}/post">問題與討論</a>
          </div>
        </div>


        <div class="blog-details content">
          <div class="comment_respond">
            <h3 class="reply_title">Add New Question</h3>
            {{!-- <div class="post-question">
              <form class="comment__form" action="/courses/{{courseId}}/post" method="POST" style="display: contents;">

                <div class="input__wrapper clearfix">
                  <div class="input__box name one--third">
                    <input type="text" placeholder="Title" name="subject">
                  </div>
                </div>

                <div class="input__box">
                  <textarea placeholder="Your question here" name="message"></textarea>
                </div>

                <div class="submite__btn">
                  <a href="javascript:;" onclick="parentNode.parentNode.submit();">Post</a>
                  <div class="clear-fix"></div>
                </div>

              </form>
            </div> --}}

            <div class="post-question">
              <form class="comment__form" action="/courses/{{courseId}}/post" method="POST" style="display: contents;">

                <div class="input__box">
                  <input type="text" placeholder="Title" name="subject">
                </div>

                <div class="input__box">
                  <textarea placeholder="Your question here" name="message"></textarea>
                </div>

                <div class="submite__btn">
                  <button type="submit">Post</button>
                </div>

              </form>
            </div>
          </div>

          <div class="comments_area">
            <h3 class="comment__title">Question ({{postsLength}}) </h3>

            {{!-- <div id="accordion" class="wn_accordion" role="tablist">

              <div class="card">
                <div class="acc-header" role="tab" id="headingOne">
                  <img src="https://fakeimg.pl/50x50/" alt="post-user">
                  <h5>
                    <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true"
                      aria-controls="collapseOne">Mauris congue euismod purus at semper. Morbi et vulputate massa?</a>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                  data-parent="#accordion">
                  <div class="card-body">Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate,
                    eu
                    porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis.
                    Morbi gravida,
                    nisi id fringilla ultricies, elit lorem eleifend lorem</div>
                </div>
              </div>


              <div class="card">
                <div class="acc-header" role="tab" id="headingTwo">
                  <h5>
                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false"
                      aria-controls="collapseTwo">
                      提問標題 ? </a>
                  </h5>
                  <div class="card-body">提問內容：Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cum.
                  </div>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                  data-parent="#accordion">
                  <div class="card-body">Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate,
                    eu
                    porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis.
                    Morbi gravida,
                    nisi id fringilla ultricies, elit lorem eleifend lorem</div>
                </div>
              </div>


              <div class="card">
                <div class="acc-header" role="tab" id="headingThree">
                  <h5>
                    <a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button"
                      aria-expanded="false" aria-controls="collapseThree">
                      Vestibulum a lorem placerat, porttitor urna vel?</a>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                  data-parent="#accordion">
                  <div class="card-body">Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate,
                    eu
                    porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis.
                    Morbi gravida,
                    nisi id fringilla ultricies, elit lorem eleifend lorem</div>
                </div>
              </div>


            </div> --}}


            {{!-- 提問問題 Start --}}
            {{#each posts}}
            {{!-- 問題內容 Start --}}
            <ul class="comment__list">
              <li class="post_question">
                <div class="wn__comment">
                  <div class="thumb">
                    <img src="{{this.User.avatar}}" alt="post-user">
                  </div>
                  <div class="content">
                    <div class="comnt__author d-block d-sm-flex">
                      <span class="post-title">{{this.subject}}</span>
                    </div>
                    <span>{{this.User.username}}</span>
                    <span>{{moment this.createdAt}}</span>
                    <p>{{this.message}}</p>
                  </div>
              </li>
              {{!-- 問題內容 End --}}
              {{#each this.DiscussReplies}}
              {{!-- 該問題的Reply Start --}}
              <li class="comment_reply">
                <div class="wn__comment">
                  <div class="thumb">
                    <img src="https://fakeimg.pl/500x500/" alt="comment images">
                  </div>
                  <div class="content">
                    <span>{{this.User.username}}</span>
                    <span>{{moment this.createdAt}}</span>
                    <p>{{this.message}}</p>
                  </div>
                </div>
              </li>
              {{!-- 該問題的Reply End --}}
              {{/each}}

              {{!-- 留言給該問題 Start --}}
              <li class="comment_reply">
                <div class="wn__comment">
                  <div class="thumb">
                    <img src="https://fakeimg.pl/500x500/" alt="comment images">
                  </div>
                  <form action="/courses/{{../courseId}}/post/{{this.id}}/reply" method="POST"
                    style="display: contents;">
                    <textarea name="message" placeholder="Your reply here"></textarea>
                    <button type="submit">Reply</button>
                  </form>
                </div>
              </li>
              {{!-- 留言給該問題 End --}}

            </ul>
            {{/each}}
            {{!-- 提問問題 End --}}




          </div>

        </div>
      </div>
    </div>
  </div>
</div>