<div class="maincontent bg--white pt--80 pb--55">
  <div class="container user-info-page">
    <div class="row">

      <div class="col-lg-12 col-12">

        <div class="wn__single__product">
          <div class="row">
            <div class="col-lg-3 col-12">
              <div class="user-image">
                <img src="{{user.avatar}}" alt="user-avatar">
              </div>
            </div>

            <div class="col-lg-9 col-12">
              <div class="user-info" data-userid="{{user.id}}">
                <h3>{{user.username}}</h3>
                <div class="user-info-item">
                  <div class="title">E-mail</div>
                  <div class="user-info-data">{{user.email}}</div>
                </div>
                <div class="user-info-item">
                  <div class="title">Country</div>
                  <div class="user-info-data">{{user.country}}</div>
                </div>
                <div class="user-info-item">
                  <div class="title">Timezone</div>
                  <div class="user-info-data">{{user.timezone}}</div>
                </div>
                <div class="user-info-item">
                  <div class="title">Description</div>
                </div>
                <div class="user-info-item">
                  <div class="user-info-data">{{user.description}}</div>
                </div>

                <div class="user-info-item">
                  <div class="title">Points</div>
                  <div id="userPoints" class="user-info-data">{{reward.point}} 點</div>

                </div>
                <img src="/images/扭蛋機.png" alt="" class="ml-4 mt-3 mb-3" style="width:100px;">

                <br>
                <a href="/reward/{{user.id}}/lottery" class="my-5">
                  <button type="submit" class="ml-0 btn btn-danger">
                    <h5>玩扭蛋抽課程 Go</h5>
                  </button>
                </a>
                <br class="my-2">
                <small class="align-bottom ml-0 mt-3 badge badge-outline-secondary text-wrap"
                  style="font-size:16px;">玩一次需100點</small>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="2238" height="80"
    style="display: block; height: 80px; width: 1119px;">
  </canvas>
</div>