<div class="container">
  <div class="row">

    <main class="col-md-12 ml-sm-auto col-lg-12 px-4">

      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h3">My Wishlist</h3>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">項次</th>
            <th scope="col">課程名稱</th>
            <th scope="col">評價</th>
            <th scope="col">學生人數</th>
            <th scope="col">價錢</th>
            <th scope="col">移除收藏</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{!-- each我先註解掉 --}}
          {{!-- {{#each courses}} --}}
          <tr class="favorite-item">
            <th scope="row">{{@key}}</th>
            <td><a href="/courses/{{this.id}}/introduction">courseName{{this.name}}</td></a>
            <td>ratingAverage{{this.ratingAverage}}</td>
            <td>studentCount{{this.studentCount}}</td>
            <td>price{{this.price}}</td>
            <td>
              <form action="/favorite/{{this.id}}?_method=DELETE" method="POST"><button type="submit"
                  class="remove-favorite">X</button></form>
            </td>
            <td>
              <form action="/order/{{this.id}}" method="POST"><button type="submit" class="buy-now">BUY
                  NOW</button></form>
            </td>
          </tr>


          {{!-- {{/each}} --}}
        </tbody>
      </table>

      <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="2238" height="944"
        style="display: block; height: 472px; width: 1119px;">
      </canvas>
    </main>
  </div>
</div>