<div class="section-padding--lg">
  <div class="container">
    <div class="row">
      <div class="col-12 my-5">
        <h3 class="h3">我的購物車</h3>
      </div>

      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">課程名稱</th>
              <th scope="col">價格</th>
              <th scope="col">數量</th>
              <th scope="col">總計</th>
              <th scope="col">#</th>
            </tr>
          </thead>
          <tbody>
            {{#each cart.items}}
            <tr>
              <td>
                <div style="display: flow-root;">
                  <img src="{{this.image}}" class="card-img" alt="..." style="height: 100px;width: auto;">
                  <span class="ml-2">{{this.name}}</span>
                </div>
              </td>
              <td>
                <p>NT$ {{this.price}}</p>
              </td>
              <td>
                <div style="display: flex;">
                  {{!-- <form action="/cartItem/{{this.CartItem.id}}/add" method="POST">
                          <button type="submit" class="btn btn-sm btn-outline-secondary">+</button>
                        </form> --}}
                  <span style="margin: 0 20px;">
                    {{this.CartItem.quantity}}
                  </span>
                  {{!-- <form action="/cartItem/{{this.CartItem.id}}/sub" method="POST">
                          <button type="submit" class="btn btn-sm btn-outline-secondary">-</button>
                        </form> --}}
                </div>
              </td>
              <td>{{this.price}} * {{this.CartItem.quantity}}</td>
              <td>
                <form action="/cartItem/{{this.CartItem.id}}?_method=DELETE" method="POST">
                  <button type="submit" class="btn-two red small">
                    <i class="fas fa-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
            {{/each}}
            <tr>
              <td></td>
              <td></td>
              <td style="text-align: right;">
                <h4>Total: </h4>
              </td>
              <td>
                <h4>{{totalPrice}}</h4>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-12">
        <form action="/order" method="POST">
          {{!-- <div class="form-group">
                      <label for="name">Name</label>
                      <input type="hidden" class="form-control" id="name" placeholder="Enter name" name="name">
                    </div>
                    <div class="form-group">
                      <label for="phone">Phone</label>
                      <input type="hidden" class="form-control" id="phone" placeholder="Enter phone" name="phone">
                    </div>
                    <div class="form-group">
                      <label for="address">Address</label>
                      <input type="hidden" class="form-control" id="address" placeholder="Enter address" name="address">
                    </div> --}}
          <input type="hidden" name="cartId" value="{{cart.id}}">
          <input type="hidden" name="amount" value="{{totalPrice}}">
          <input type="hidden" name="shipping_status" value="0">
          <input type="hidden" name="payment_status" value="0">
          <button type="submit" class="btn-two cyan small">結帳</button>
        </form>
      </div>
    </div>
  </div>
</div>