<div class="row my-5">
  <div class="col ml-5">

    <div class="row">
      <div class="col col-8 mx-auto">
        <h3>準備為訂單編號： {{order.id}} 付款 </h3>
        <h4>總價 {{order.amount}} </h4>
        <form name='Spgateway' class="" action='{{tradeInfo.PayGateWay}}' method="POST">

          <div class="form-group">
            <label for="title">MerchantID:</label>
            <input type="text" class="form-control" name="MerchantID" id="MerchantID" placeholder=""
              value="{{tradeInfo.MerchantID}}">
          </div>
          <div class="form-group">
            <label for="title">TradeInfo:</label>
            <input type="text" class="form-control" name="TradeInfo" id="TradeInfo" placeholder=""
              value="{{tradeInfo.TradeInfo}}">
          </div>
          <div class="form-group">
            <label for="title">TradeSha:</label>
            <input type="text" class="form-control" name="TradeSha" id="TradeSha" placeholder=""
              value="{{tradeInfo.TradeSha}}">
          </div>
          <div class="form-group">
            <label for="title">Version:</label>
            <input type="text" class="form-control" name="Version" id="Version" placeholder=""
              value="{{tradeInfo.Version}}">
          </div>
          <button type="submit" class="btn-two blue small">Payment</button>
        </form>
      </div>
    </div>


  </div>
</div>